/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.left-regex, .right-regex, .string-text, .lang-choice, button {
  font-family: 'Sen', sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Sen', sans-serif;
  background-color: #7880B5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight {
  background-color: #97cef1;
}

h1, h4 {
  color: white;
  text-shadow: 1px 2px black;
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: 30px;
  font-size: 3rem;
}

h4 {
  margin-top: 8px;
  font-size: 1rem;
}

p {
  white-space: pre-wrap;
}

li {
  list-style-type: circle;
}

input:focus {
  outline: none;
}

.App {
  display: block;
  margin: 0 auto;
  width: 98%;
  height: 510px;
  margin-top: 20px;
  background-color: #BCC4DB;
  box-shadow: 3px 4px #2e2e2e;
  border-radius: 4px;
}

.lang-choice, button {
  display: block;
  margin: 10px 10px 5px 10px;
  padding: 5px;
  border-radius: 0px;
}

.lang-choice {
  float: left;
}

button {
  float: right;
}

.left-regex, .right-regex {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  outline: none;
  border-radius: 0px;
}

.left-regex {
  float: left;
  width: 73%;
  padding: 10px 0;
  margin-left: 2.3%;
  padding-left: 10px;
  margin-right: 1%;
  letter-spacing: 1px;
}

.right-regex {
  float: left;
  width: 20%;
  padding: 10px 0;
  padding-left: 13px;
  margin-left: 1%;
}

.trans-slash-one, .trans-slash-two {
  display: none;
  position: relative;
  font-size: 18px;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: .5;
}

.trans-slash-one {
  top: 56px;
  left: -110px;
}

.trans-slash-two {
  top: 56px;
  left: 5px;
}

.string-text {
  display: block;
  border-radius: 0px;
  margin: 0 auto;
  padding: 5px;
  box-sizing: border-box;
  width: 95%;
  height: 150px;
  resize: none;
}

.dots {
  margin: 0;
  text-align: center;
  color: black;
  margin: 5px 0 15px 0;
}

.left-output, .right-output {
  display: block;
  margin: 0 auto;
  padding: 5px;
  background-color: white;
  outline: 1px solid darkgray;
  width: 95%;
  height: 100px;
  margin-top: 5px;
  overflow: auto;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  body, input, textarea, p {
    font-size: 16px;
  }

  h1 {
    margin-top: 100px;
  }

  h4 {
    margin-top: 20px;
    font-size: 1.1rem;
  }

  .lang-choice, button {
    display: block;
    margin: 10px 10px 0px 10px;
    padding: 5px;
  }

  .App {
    width: 720px;
    height: 500px;
    margin-top: 50px;
  }

  .lang-choice {
    top: 12px;
    margin-bottom: 5px;
  }

  .left-regex {
    width: 620px;
    padding: 10px 0;
    padding-left: 20px;
    margin: 10px 10px;
    margin-right: 0px;
    border-right: none;
    letter-spacing: 1.5px;
  }

  .right-regex {
    width: 80px;
    box-sizing: border-box;
    padding: 10px 0;
    padding-left: 15px;
    margin: 10px 10px 20px 0px;
    margin-left: 0px;
    border-left: none;
  }

  .trans-slash-one {
    display: block;
    top: 66px;
    left: -100px;
  }

  .trans-slash-two {
    display: block;
    top: 66px;
    left: 2px;
  }

  .string-text {
    width: 97.5%;
    height: 150px;
    margin: 10px;
    padding: 10px;
  }

  .left-output, .right-output {
    width: 340px;
    height: 150px;
    padding: 4px 10px;
    margin: 10px 10px;
    letter-spacing: .5px;
  }

  .left-output {
    float: left;
  }

  .right-output {
    float: right;
  }
}